/*stile del risultato della calcolatrice */

body {
    background-color: #3b3b3b;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #ffcc00;
    text-align: center;
}

.result-container {
    background-color: #2e2e2e;
    padding: 25px;
    border-radius: 8px;
    width: 350px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.result-container p {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
}